[pyrat]

# Pyrat Bay run mode [tli pt atmosphere spectrum radeq opacity mcmc]
runmode = radeq

# Output log and spectrum file names:
logfile = WASP39b_radeq_benchmark_control.log

# Observing geometry, select between: [transit eclipse]
rt_path = emission_two_stream

# System parameters (Mancini+2018):
rstar = 0.940 rsun
mstar = 0.913 msun
tstar = 5500.0
log_gstar = 4.5
Fe_H_star = -0.12
starspec = ../inputs/helios_phoenix_WASP39b_5500K_m00_logg4.5.dat

rplanet = 1.280 rjup
mplanet = 0.281 mjup
smaxis = 0.048 au
tint = 0.0
refpressure = 1.0 bar

# Wavelength sampling
wllow = 0.15 um
wlhigh = 33.0 um

# Atmospheric model:
nlayers = 81
ptop = 1e-9 bar
pbottom = 1e2 bar

species =
    H  He  C  O  N  Na  K  S  Si  Mg Fe  Ti  V Al Cl
    H2  H2O  CH4  CO  CO2  HCN  NH3  N2  OH  C2H2  C2H4
    S2  SH  H2S  SO2  SO  TiO  VO  TiO2  VO2
    e-  H-  H+  H2+  He+  Na-  Na+  Mg+ K-  K+  Fe+  Ti+  V+
    MgOH MgH Mg(OH)2  FeO Fe(OH)2 FeS  SiO SiO2
    MgS Fe- NaOH KOH SiS SH- Si+
    HCl (NaCl)2  NaCl KCl Cl+ Cl- (KCl)2
    AlO- Al+ Al2O AlO2 AlH AlOH OAlOH

tmodel = isothermal
tpars = 900.0

chemistry = tea
radmodel = hydro_m

# Metallicity:
vmr_vars =
    [M/H] 0.0

# Stellar irradiation scaling factor, beta = (1-A)/f:
beta_irr = 0.667

# Opacity file name, temperature range, and step:
sampled_cross_sec =
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_C2H2.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_CH4.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_CO2.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_CO.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_H2O.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_H2S.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_HCN.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_NH3.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_SO2.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_Na.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_K.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_Fe.npz
  ../benchmark_opacities/cross_section_0.15-33.0um_0200-5000K_R003K_dace_Mg.npz


# Cross-section opacity files:
continuum_cross_sec =
    {ROOT}/pyratbay/data/CIA/CIA_Borysow_H2H2_0060-7000K_0.6-500um.dat
    {ROOT}/pyratbay/data/CIA/CIA_Borysow_H2He_0050-7000K_0.5-031um.dat


# Rayleigh models, select from: [lecavelier dalgarno_H dalgarno_He dalgarno_H2]
rayleigh =
    dalgarno_He
    dalgarno_H
    dalgarno_H2
    dalgarno_e-

h_ion = h_ion_john1988

# Number of radiative-equilibrium iterations
nsamples = 500

# Verbosity level [1--5]:
verb = 2
