[pyrat]
# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity radeq mcmc]
runmode = opacity

# Atmospheric model:
atmfile = piMensac_isothermal_solar.atm

# TLI opacity files:
tlifile = HITEMP_CH4_0.74-33.0um.tli

# Wavelength sampling boundaries:
wllow = 0.3 um
wlhigh = 33.0 um
vextent = 100.0

# Wavenumber sampling rate (and over-sampling factor):
wnstep = 0.3
wnosamp = 720
resolution = 15000.0

# Output file names:
extfile = extfile_CH4_0100-3500K_0.3-33.0um.npz
tmin =  100
tmax = 3500
tstep = 100
ncpu = 48

# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
