[pyrat]

# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity radeq mcmc]
runmode = tli

# List of line-transtion databases:
dblist = ../inputs/opacity/H2O_exomol_pokazatel_0.24-500.0um_100-3500K_threshold_0.01_lbl.dat

# Type of line-transition database, select from:
# [hitran exomol repack pands tioschwenke voplez]
dbtype = repack
# List of partition functions for each database:
pflist = PF_exomol_H2O.dat

# Wavelength ranges:
wllow = 0.24 um
wlhigh = 33.0 um

# Output TLI file:
tlifile = Exomol_H2O_0.24-33.0um.tli

# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
