[pyrat]

# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity radeq mcmc]
runmode = tli

# List of line-transtion databases:
dblist = ../inputs/opacity/CubillosEtal2021_exomol_repack/runs/NH3_exomol_coyute-byte_0.5-500.0um_100-3500K_threshold_0.03_lbl.dat

# Type of line-transition database, select from:
# [hitran exomol repack pands tioschwenke voplez]
dbtype = repack
# List of partition functions for each database:
pflist = PF_tips_NH3.dat

# Wavelength ranges:
wllow = 0.5 um
wlhigh = 33.0 um

# Output TLI file:
tlifile = Exomol_NH3_0.5-33.0um.tli

# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
