[pyrat]

# Pyrat Bay run mode [tli pt atmosphere spectrum radeq opacity mcmc]
runmode = radeq

# Output log and spectrum file names:
logfile = WASP39b_radeq_benchmark_01x_solar.log

# Observing geometry, select between: [transit eclipse]
rt_path = emission_two_stream

# System parameters (Mancini+2018):
rstar = 0.940 rsun
mstar = 0.913 msun
tstar = 5500.0
log_gstar = 4.5
Fe_H_star = -0.12
starspec = ../inputs/phoenix_WASP39b_5500K_m00_logg4.5.dat

rplanet = 1.280 rjup
mplanet = 0.281 mjup
smaxis = 0.048 au
tint = 100.0
refpressure = 1.0 bar

# Wavelength sampling
wllow = 0.3 um
wlhigh = 33.0 um

# Atmospheric model:
nlayers = 81
ptop = 1e-8 bar
pbottom = 1e2 bar

species =
    H  He  C  O  N  Na  K  S  Si  Fe  Ti  V
    H2  H2O  CH4  CO  CO2  HCN  NH3  N2  OH  C2H2  C2H4
    S2  SH  SiO  H2S  SO2  SO  TiO  VO  TiO2  VO2
    e-  H-  H+  H2+  He+  Na-  Na+  K-  K+  Fe+  Ti+  V+

tmodel = isothermal
tpars = 900.0

chemistry = tea
radmodel = hydro_m

# Metallicity:
vmr_vars = [M/H] 0.0

# Stellar irradiation scaling factor, beta = (1-A)/f:
beta_irr = 0.667

# Opacity file name, temperature range, and step:
extfile =
    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_H2O_exomol.npz
    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_CO2_hitemp.npz
    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_CO_hitemp.npz
    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_CH4_hitemp.npz
    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_HCN_exomol.npz
    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_NH3_exomol.npz
    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_C2H2_exomol.npz
    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_H2S_exomol.npz
    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_SiO_exomol.npz
#    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_TiO_exomol.npz
#    ../run_setup/cross_section_0.3-33.0um_0200-5000K_R025K_VO_exomol.npz


# Cross-section opacity files:
csfile =
    {ROOT}/pyratbay/data/CIA/CIA_Borysow_H2H2_0060-7000K_0.6-500um.dat
    {ROOT}/pyratbay/data/CIA/CIA_Borysow_H2He_0050-7000K_0.5-031um.dat


# Rayleigh models, select from: [lecavelier dalgarno_H dalgarno_He dalgarno_H2]
rayleigh =
    dalgarno_He
    dalgarno_H
    dalgarno_H2

# Alkali models, select from: [sodium_vdw potassium_vdw]
alkali =
    sodium_vdw
    potassium_vdw

h_ion = h_ion_john1988

# Number of radiative-equilibrium iterations
nsamples = 200

# Verbosity level [1--5]:
verb = 2
