[pyrat]

# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity radeq mcmc]
runmode = tli

# Output TLI file:
logfile = Exomol_HCN_0.15-33.0um.log

# List of line-transtion databases:
dblist = ../inputs/opacity/HCN_exomol_harris-larner_0.56-500um_100-3500K_threshold_0.01_lbl.dat

# Type of line-transition database, select from:
# [hitran exomol repack pands tioschwenke voplez]
dbtype = repack
# List of partition functions for each database:
pflist = PF_exomol_HCN.dat

# Wavelength ranges:
wllow = 0.15 um
wlhigh = 33.0 um

# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
