[pyrat]
# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity retrieval]
runmode = retrieval
verb = 2
logxticks = 1.0 2.0 3.0 5.0 7.0 10.0

# Output log and spectrum file names:
logfile = iso_059_nm/WASP69b_transit_jwst_0.59_iso_nm.log

# Observing geometry
rt_path = transit

# System parameters (Bonomo et al. 2017):
rstar = 0.813 rsun
mstar = 0.826 msun
tstar = 4700.0
log_gstar = 4.535
starspec = ../inputs/synphot_phoenix_WASP69b_4700K_m00_logg4.5.dat

rplanet = 1.057 rjup
mplanet = 0.250 mjup
smaxis = 0.04527 au
refpressure = 0.1 bar

# Wavelength sampling
wl_low  = 2.8 um
wl_high = 12.0 um

# Observations:
dunits = percent
obsfile = ../inputs/obs_WASP69b_transit_jwst_3x_0.59cto_g395h_lrs.dat


# Atmospheric model
nlayers = 81
ptop = 1.0e-9 bar
pbottom = 100 bar

tmodel = madhu
tpars = -3.0 -6.2 0.0  1.2 0.5  550

chemistry = free
species = H2  He  K  H2O  CH4  CO  CO2  HCN  H2S  SO2  NH3  C2H2
uniform_vmr = 0.85 0.145  1e-10 1e-10 1e-10 1e-10 1e-10 1e-10 1e-10 1e-10 1e-10 1e-10

radmodel = hydro_m

# TLI opacity files:
sampled_cross_sec =
    ../inputs/cross_section_0.15-33.0um_0200-5000K_R025K_CH4_exomol_mm.npz
    ../inputs/cross_section_0.15-33.0um_0200-5000K_R025K_CO_hitemp_2019.npz
    ../inputs/cross_section_0.15-33.0um_0200-5000K_R025K_CO2_ames_ai3000k.npz
    ../inputs/cross_section_0.15-33.0um_0200-5000K_R025K_C2H2_exomol_acety.npz
    ../inputs/cross_section_0.15-33.0um_0200-5000K_R025K_H2O_exomol_pokazatel.npz
    ../inputs/cross_section_0.15-33.0um_0200-5000K_R025K_H2S_exomol_ayt2.npz
    ../inputs/cross_section_0.15-33.0um_0200-5000K_R025K_HCN_exomol_harris_larner.npz
    ../inputs/cross_section_0.15-33.0um_0200-5000K_R025K_NH3_exomol_coyute.npz
    ../inputs/cross_section_0.15-33.0um_0200-5000K_R025K_SO2_exomol_exoames.npz

# Cross-section opacity files:
continuum_cross_sec =
    {ROOT}/pyratbay/data/CIA/CIA_Borysow_H2H2_0060-7000K_0.6-500um.dat
    {ROOT}/pyratbay/data/CIA/CIA_Borysow_H2He_0050-3000K_0.3-030um.dat

# Rayleigh models, select from: [rayleigh_H rayleigh_He rayleigh_H2]
rayleigh =
    rayleigh_H2
    rayleigh_He

alkali =
    potassium_vdw

clouds = deck

vmr_vars =
    log_H2O
    log_CO
    log_CO2
    log_CH4
    log_NH3
    log_SO2
    log_H2S
    log_HCN
    log_C2H2

bulk = H2 He

retrieval_params =
    log_p1       -3.0     -9.0     2.0   0.3
    log_p2       -6.2     -9.0     2.0   0.3
    log_p3        0.0     -9.0     2.0   0.3
    a1            1.15     0.02    2.0   0.01
    a2            0.50     0.02    2.0   0.01
    T0            550      300    1500   50.0
    log_p_ref     0.0     -8.0     0.0   0.3
    log_H2O      -1.70   -10.0    -0.5   0.3
    log_CO       -2.30   -10.0    -0.5   0.3
    log_CO2      -3.00   -10.0    -0.5   0.3
    log_CH4      -5.0    -10.0    -0.5   0.3
    log_NH3      -3.60   -10.0    -0.5   0.3
    log_SO2      -3.60   -10.0    -0.5   0.3
    log_H2S      -3.60   -10.0    -0.5   0.3
    log_HCN      -3.60   -10.0    -0.5   0.3
    log_C2H2     -3.60   -10.0    -0.5   0.3
    log_p_cl      -1.0    -7.0     2.0   0.3

# Trace-abundances cap:
qcap = 0.9

# MCMC temperature boundaries:
tlow  =  300
thigh = 3000

# Retrieval setup:
sampler = multinest
nlive = 1000
resume = True
theme = red
post_processing = False
dt_retrieval_snapshot = 12.0
