[pyrat]

# Pyrat Bay run mode [tli pt atmosphere spectrum radeq opacity mcmc]
runmode = radeq

# Observing geometry, select between: [transit eclipse]
rt_path = emission_two_stream

# Output file names:
specfile = radeq_WASP69b_1.50_c_to_o_0.25_beta.dat

# System parameters (Bonomo et al. 2017):
rstar = 0.813 rsun
mstar = 0.826 msun
tstar = 4700.0
log_gstar = 4.535
Fe_H_star = 0.15
kurucz = ../inputs/fp02k2odfnew.pck

rplanet = 1.057 rjup
mplanet = 0.250 mjup
smaxis = 0.04527 au
tint = 100.0
refpressure = 0.1 bar

# Wavelength sampling
wllow = 0.3 um
wlhigh = 33.0 um

# Atmospheric model:
input_atmfile = ../run_setup/profile_species.atm

# Atmospheric models:
chemistry = tea
radmodel = hydro_m

# Metallicity:
metallicity = 0.0
e_ratio = C_O 1.5

# Stellar irradiation scaling factor, beta = (1-A)/f:
beta_irr = 0.25

# Opacity file name, temperature range, and step:
extfile =
    ../run_setup/cross_section_125-3500K_0.3-33.0um_R15K_H2O_exomol.npz
    ../run_setup/cross_section_125-3500K_0.3-33.0um_R15K_CO_hitemp.npz
    ../run_setup/cross_section_125-3500K_0.3-33.0um_R15K_CO2_hitemp.npz
    ../run_setup/cross_section_125-3500K_0.3-33.0um_R15K_CH4_hitemp.npz
    ../run_setup/cross_section_125-3500K_0.3-33.0um_R15K_HCN_exomol.npz
    ../run_setup/cross_section_125-3500K_0.3-33.0um_R15K_NH3_exomol.npz
    ../run_setup/cross_section_125-3500K_0.3-33.0um_R15K_SO2_exomol.npz
    ../run_setup/cross_section_125-3500K_0.3-33.0um_R15K_H2S_exomol.npz
    ../run_setup/cross_section_125-3500K_0.3-33.0um_R15K_C2H2_exomol.npz

# Cross-section opacity files:
csfile =
    {ROOT}/pyratbay/data/CIA/CIA_Borysow_H2H2_0060-7000K_0.6-500um.dat
    {ROOT}/pyratbay/data/CIA/CIA_Borysow_H2He_0050-7000K_0.5-031um.dat

# Rayleigh models, select from: [lecavelier dalgarno_H dalgarno_He dalgarno_H2]
rayleigh =
    dalgarno_He
    dalgarno_H
    dalgarno_H2

# Alkali models, select from: [sodium_vdw potassium_vdw]
alkali =
    sodium_vdw
    potassium_vdw

h_ion = h_ion_john1988

# Number of CPUs to use for parallel processing:
nsamples = 200

# Verbosity level [1--5]:
verb = 2
